<!DOCTYPE html>
<html>
<head>
    <title>PhishGaurd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🛡️ PhishGaurd2.0</h1>
    <p>AI Based Phishing Detection Tool</p>

    <form method="POST">
        <textarea name="message" placeholder="Paste email or message here..." required></textarea>
        <br>
        <button type="submit">Analyze</button>
    </form>

    {% if result %}
        <div class="result">
            {{ result }}
        </div>
    {% endif %}
</div>

</body>
</html>
